.align {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  z-index: 1;
  margin: 0 auto;
}
.ac-title {
  background-color: #ffcd54;
  padding: 20px 20px 30px;
  box-sizing: border-box;
}
.ac-title .ac-title {
  font-size: 30px;
  line-height: 2em;
}
.ac-title .title-now {
  font-size: 38px;
  font-weight: normal;
}
.ac-title .remain {
  font-size: 56px;
  font-weight: normal;
}
.ac-title .remain-money {
  font-style: normal;
  margin: 0 20px;
}
.ac-title .to-charge {
  font-size: 28px;
  margin: 10px 15px 10px 0;
  padding: 5px 25px;
  border: 1px solid #000;
  border-radius: 30px;
}
.ac-title .charge-money {
  font-size: 28px;
  margin: 10px 20px 10px 0;
  padding: 5px 25px;
  border: 1px solid #000;
  border-radius: 30px;
}
.ac-detail {
  font-size: 28px;
  margin-left: 30px;
  height: 60px;
  line-height: 60px;
}
.ac-list {
  box-sizing: border-box;
}
.ac-list .item {
  background-color: #fff;
  padding: 15px 30px;
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
  overflow: hidden;
}
.ac-list .item-title {
  display: inline-block;
  font-size: 28px;
  margin-bottom: 15px;
}
.item-footer {
  font-size: 30px;
}
.item-footer .item-time {
  font-size: 28px;
}
