.tp-header,
.tp-main,
.tp-footer {
  font-size: 22px;
  line-height: 60px;
  padding: 0 30px;
  text-align: justify;
  height: auto;
}
.tp-header {
  margin: 45px auto 65px auto;
}
.tp-header .header-h2 {
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 25px;
}
.tp-main {
  height: auto;
  margin: 65px auto;
}
.tp-footer {
  margin: 65px auto;
}
