.person {
  padding-top: 35px;
  background: -ms-linear-gradient(top, #fee567, #fed459);
  background: -moz-linear-gradient(top, #fee567, #fed459);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fee567), to(#fed459));
  background: -webkit-linear-gradient(top, #fee567, #fed459);
  background: -o-linear-gradient(top, #fee567, #fed459);
}
.person .person-info {
  padding-bottom: 30px;
}
.person .person-info .person-info-img {
  width: 120px;
  height: 120px;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  margin: 15px 0 0 40px;
}
.person .person-info .person-info-name {
  height: 35px;
  line-height: 35px;
  font-size: 30px;
  color: #000;
  margin-top: 8px;
}
.person .person-info .person-info-name .username {
  float: left;
}
.person .person-info .person-sex {
  margin-top: 10px;
  text-align: left;
}
.person .person-info .vip-tag {
  top: 50px;
  right: 45px;
  height: 58px;
  vertical-align: middle;
}
.person .person-info .no-vip-icon,
.person .person-info .vip-icon {
  width: 69px;
  height: 50px;
}
.person .person-info .no-vip-icon {
  background: url(/static/img/site/mobile/icons3.png) no-repeat 6px -1236px;
}
.person .person-info .vip-icon {
  background: url(/static/img/site/mobile/icons3.png) no-repeat 6px -1324px;
}
.person .person-info .vip-title {
  font-size: 26px;
  top: -10px;
  color: #e87c47;
}
.person .person-info .no-vip {
  color: #aaaaaa;
}
.person .person-info .login-in {
  font-size: 28px;
  color: #FA6E51;
  text-decoration: underline;
}
.person .person-info .person-info-sort {
  font-size: 24px;
  line-height: 26px;
  position: absolute;
  margin: 35px 0 0 38px;
  color: #959595;
}
.person .person-info .person-info-icon-woman {
  color: #ff6091;
}
.person .person-info .person-info-icon-man {
  color: #03a9f4;
}
.person .person-info .person-info-uid {
  font-size: 20px;
}
.person .person-info .person-info-edit {
  float: left;
  width: 45px;
  height: 45px;
  margin-left: 15px;
  background: url(/static/img/site/mobile/icons3.png) no-repeat -1017px -1246px;
  zoom: 0.8;
}
.person .person-invite {
  width: 170px;
  height: 46px;
  line-height: 46px;
  background: #fc8795 url(/static/img/site/mobile/icons3.png) no-repeat 20px -68px;
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
  padding-left: 60px;
  -moz-border-radius: 15px 0 0 15px;
  -webkit-border-radius: 15px 0 0 15px;
  border-radius: 15px 0 0 15px;
  text-decoration: none;
  position: absolute;
  top: 60px;
  right: 0;
  bottom: auto;
  left: auto;
}
.main {
  padding-bottom: 140px;
}
.order,
.project-list {
  font-size: 0;
}
.order .order-info-order,
.project-list .order-info-order {
  height: 88px;
  line-height: 88px;
  border-bottom: 1px solid #ccc;
}
.order .arrow-right,
.project-list .arrow-right {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-top: 2px solid #999;
  border-right: 2px solid #999;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 32px;
  right: 32px;
  bottom: auto;
  left: auto;
}
.order .icon-line,
.project-list .icon-line {
  vertical-align: middle;
  background-color: #FA6E51;
  width: 8px;
  height: 45px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.order .order-info-title,
.project-list .order-info-title {
  font-size: 30px;
  color: #000;
  padding-left: 25px;
}
.order .order-info-all,
.project-list .order-info-all {
  font-size: 24px;
  color: #929292;
  position: absolute;
  top: auto;
  right: 8%;
  bottom: auto;
  left: auto;
}
.order .icon-title,
.project-list .icon-title {
  padding-left: 25px;
  vertical-align: middle;
  height: 41px;
  width: 142px;
  background: url("/static/img/site/mobile/vips/vip_area.png") no-repeat center;
}
.order {
  background-color: #FFFFFF;
}
.order .order-icons {
  margin-top: 27px;
  position: absolute;
  top: auto;
  right: 65px;
  bottom: auto;
  left: auto;
}
.order .order-pay {
  height: 47px;
  width: 57px;
  background: #fff url(/static/img/site/mobile/icons3.png) no-repeat 0 -155px;
}
.order .order-use {
  height: 48px;
  width: 51px;
  background: #fff url(/static/img/site/mobile/icons3.png) no-repeat 0 -275px;
}
.order .order-eval {
  height: 47px;
  width: 49px;
  right: 68px;
  background: #fff url(/static/img/site/mobile/icons3.png) no-repeat 0 -410px;
}
.order .order-refund {
  right: 68px;
  height: 48px;
  width: 48px;
  background: #fff url(/static/img/site/mobile/icons3.png) no-repeat 0 -538px;
}
.order .order-item {
  height: 140px;
  list-style: none;
  padding-left: 0;
}
.order .order-item .item-li {
  width: 25%;
  height: 140px;
  overflow: hidden;
  font-size: 24px;
  color: #000;
}
.order .order-item-num {
  font-size: 20px;
  color: #FFFFFF;
  background-color: #FA6E51;
  padding: 2px 12px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  top: 18px;
  right: 49px;
  bottom: auto;
  left: auto;
}
.order .order-item-sub {
  margin-top: 97px;
  margin-bottom: 20px;
}
/*列项*/
.project-list {
  background-color: #ffffff;
  margin-top: 25px;
  overflow: hidden;
}
.project-list .item {
  font-size: 0;
}
.project-list .item-list {
  height: 160px;
  width: 33.245%;
  display: inline-block;
  border-right: 1px solid #a3a3a3;
  border-bottom: 1px solid #a3a3a3;
}
.project-list .item-list:nth-of-type(3n+3) {
  border-right: none;
}
.project-list .item-info {
  text-align: center;
  top: 76px;
  width: 100%;
}
.project-list .baby-info {
  top: 76px;
}
.project-list .item-title {
  font-size: 28px;
  margin-bottom: 5px;
  color: #000;
}
.project-list .item-value {
  font-size: 22px;
  color: #929292;
}
.project-list .img-item {
  width: 36px;
  height: 36px;
  margin-right: 5px;
  border-radius: 18px;
}
.project-list .icon {
  top: 18px;
  left: 104px;
  display: block;
  width: 40px;
  height: 40px;
}
.project-list .purse-icon {
  background: #fff url(/static/img/site/mobile/icons3.png) no-repeat 0px -653px;
}
.project-list .coupon-icon {
  background: #fff url(/static/img/site/mobile/icons3.png) no-repeat 6px -854px;
}
.project-list .score-icon {
  background: #fff url(/static/img/site/mobile/icons3.png) no-repeat 5px -760px;
}
.project-list .traveller-icon {
  background: #fff url(/static/img/site/mobile/icons3.png) no-repeat -1017px -425px;
}
.project-list .collect-icon {
  background: #fff url(/static/img/site/mobile/icons3.png) no-repeat -1017px -669px;
}
.project-list .contact-icon {
  background: #fff url(/static/img/site/mobile/icons3.png) no-repeat -1021px -207px;
}
.project-list .baby-icon {
  background: #fff url(/static/img/site/mobile/icons3.png) no-repeat -1020px -322px;
}
.project-list .go-icon {
  background: #fff url(/static/img/site/mobile/icons3.png) no-repeat -1020px -542px;
}
.project-list .seller-icon {
  background: #fff url(/static/img/site/mobile/icons_fx.png) no-repeat 7px -408px;
}
.project-list .play-icon {
  background: #fff url(/static/img/site/mobile/icons3.png) no-repeat -1021px -97px;
}
.project-list .player-icon {
  background: #fff url(/static/img/site/mobile/icons3.png) no-repeat -1021px -542px;
}
.project-list .comment-icon {
  top: 32px;
  left: 121px;
  width: 60px;
  height: 60px;
  background: #fff url(/static/img/site/mobile/icons3.png) no-repeat -1005px -1045px;
  zoom: 0.8;
}
.project-list .writer-icon {
  top: 32px;
  left: 121px;
  width: 60px;
  height: 60px;
  background: #fff url(/static/img/site/mobile/icons3.png) no-repeat -1008px -1135px;
  zoom: 0.8;
}
.project-list .child-traveller-icon {
  width: 85px;
  height: 60px;
  background: url(/static/img/site/mobile/icons3.png) no-repeat -7px -1420px;
  zoom: 0.9;
}
.project-list .info-pos {
  font-size: 24px;
  right: -1px;
  top: 23px;
}
.project-list .customer-pos {
  font-size: 16px;
  right: -5px;
  top: 29px;
}
.label-info {
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  color: #ffffff;
}
.label-icon {
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  color: #ffffff;
  display: block;
  height: 0;
  border-width: 0px 30px 30px;
  border-style: none solid solid;
  border-color: transparent transparent red;
  position: absolute;
  width: 75px;
  right: -30px;
  top: 23px;
}
.lottery-to {
  position: fixed;
  right: 50%;
  bottom: 275px;
  transform: translate3D(-210%, 0px, 0);
  -webkit-transform: translate3D(-210%, 0px, 0);
}
.lottery-to .lottery-icon {
  width: 116px;
  height: 117px;
  background: url("/static/img/site/mobile/vips/lottery_to.png") no-repeat center;
}
.lottery-to .lootery-chance {
  color: #ffffff;
  display: inline-block;
  width: 75px;
  text-align: center;
  top: 25px;
  left: 20px;
  font-size: 24px;
}
.lottery-to .lottery-num {
  font-size: 40px;
}
.download-app {
  width: 750px;
  display: inline-block;
  font-size: 24px;
  text-align: center;
  color: #333;
  margin-top: 20px;
  height: 90px;
  line-height: 90px;
}
