.special {
  width: 100%;
  background: #eeeeee;
}
.special .special-list .special-list-item {
  display: block;
  width: 100%;
  height: 375px;
  margin-bottom: 18px;
  overflow: hidden;
}
.special .special-list .special-list-item img {
  float: left;
  width: 100%;
  height: 375px;
}
.dropload-down {
  padding-bottom: 50px;
}
