.introduce {
  display: block;
  height: 88px;
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}
.introduce p {
  font-size: 32px;
  overflow: hidden;
}
.introduce p mark {
  float: left;
  width: 180px;
  line-height: 88px;
  text-align: center;
  color: #929292;
  margin-left: 25px;
}
.introduce p span {
  float: left;
  width: 370px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 88px;
}
.introduce p i {
  height: 22px;
  width: 22px;
  border: 2px solid #999;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  overflow: hidden;
  border-bottom: none;
  border-left: none;
  position: absolute;
  right: 37px;
  bottom: 38%;
}
